[submodule "customer-consumption"]
	path = customer-consumption
	url = https://github.com/knoxville-utilities-board/customer-consumption.git
[submodule "customer-consumption-api"]
	path = customer-consumption-api
	url = https://github.com/knoxville-utilities-board/customer-consumption-api.gi
