version: '3.4'

services:
  db:
    image: mjbelow/customer-consumption-db
    container_name: customer-consumption-db
    environment:
     - ACCEPT_EULA=Y
     - SA_PASSWORD=1Secure*Password1
    build:
      context: .
      dockerfile: Dockerfile
    ports:
     - "5003:1433"
  api:
    image: mjbelow/customer-consumption-api
    container_name: customer-consumption-api
    environment:
     - ConnectionStrings:DefaultConnection=Server=db;Database=CustomerConsumption;User=sa;Password=1Secure*Password1;
    build:
      context: ./customer-consumption-api
      dockerfile: Dockerfile
    depends_on:
     - db
    ports:
     - "5001:80"
  webapp:
    image: mjbelow/customer-consumption-webapp
    container_name: customer-consumption-webapp
    build:
      context: ./customer-consumption-webapp
      dockerfile: Dockerfile
    depends_on:
     - api
    ports:
     - "4200:80"
